<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pretty</title>
    <link rel="stylesheet" href="styles/PrettyWebsite.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <p>In the twilight of one's life</p>
        </header>
        <nav>
            <ul>
                <li>home</li>
                <li>about</li>
                <li>blog</li>
                <li>gallery</li>
                <li>contacts</li>
            </ul>
        </nav>
        <main>
            <div class="articles">
                <article>
                    <h2>Welcome to home page</h2>
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas a tellus et hendrerit. </strong>
                        Curabitur feugiat tempor aliquet. Duis placerat elementum accumsan. Etiam et sem et purus gravida
                        euismod tincidunt nec arcu. Duis suscipit mi ex, id venenatis mauris rhoncus at. Praesent velit risus,
                        faucibus id orci eget, pulvinar egestas ex. Sed ac felis at purus dapibus dapibus. Integer id
                        ullamcorper purus, a bibendum quam. Sed vehicula sem nisi, vitae ullamcorper quam molestie vitae.
                        Aenean non maximus risus. Nunc cursus neque mi, in faucibus urna consequat eget. Quisque mattis, est et
                        tempor hendrerit, arcu lorem sollicitudin magna, at suscipit velit.</p>
                </article>
                <article>
                    <h2>Our Free Products</h2>
                    <div>
                        <img src="images/0005.jpg" alt="Car">
                        <h4>Just try to find me</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac ante molestie, pharetra felis
                            mollis, sodales nisi. Fusce eget pellentesque augue. Nullam interdum felis at ultrices tempor. Ut
                            felis sapien, mattis posuere egestas eu, ornare non lorem. Cras imperdiet volutpat libero, at
                            malesuada est faucibus ut. Pellentesque et est eget.</p>
                    </div>
                    <div>
                        <img src="images/0004.jpg" alt="The place">
                        <h4>Meeting Place</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac ante molestie, pharetra felis
                            mollis, sodales nisi. Fusce eget pellentesque augue. Nullam interdum felis at ultrices tempor. Ut
                            felis sapien, mattis posuere egestas eu, ornare non lorem. Cras imperdiet volutpat libero, at
                            malesuada est faucibus ut. Pellentesque et est eget.</p>
                    </div>
                    <div>
                        <img src="images/0003.jpg" alt="Skate">
                        <h4>Skate Show</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac ante molestie, pharetra felis
                            mollis, sodales nisi. Fusce eget pellentesque augue. Nullam interdum felis at ultrices tempor. Ut
                            felis sapien, mattis posuere egestas eu, ornare non lorem. Cras imperdiet volutpat libero, at
                            malesuada est faucibus ut. Pellentesque et est eget.</p>
                    </div>
                </article>
            </div>
            <aside>
                <article>
                    <h2>News</h2>
                    <b>August 2, 2009</b>
                    <p>Aliquam eget varius arcu</p>
                    <a href="#">see more...</a>
                    <br>
                    <br>
                    <b>August 2, 2009</b>
                    <p>Aliquam eget varius arcu</p>
                    <a href="#">see more...</a>
                    <br>
                    <br>
                    <b>August 2, 2009</b>
                    <p>Aliquam eget varius arcu</p>
                    <a href="#">see more...</a>
                </article>
                <article>
                    <h2>messages</h2>
                    <b>August 2 2009</b>
                    <p>Mauris ac metus lorem. Aliquam at consectetur ipsum. Duis et dui id elit interdum commodo. Nulla quis
                        ante mattis, lobortis leo vitae, viverra turpis. Ut ut turpis et risus tempor placerat. Nam in orci
                        eget libero egestas scelerisque. Curabitur mattis mi ut est scelerisque ullamcorper. Mauris nec sem
                        a massa.
                    </p>
                    <br>
                    <a href="#">see all testimonials</a></article>
            </aside>
        </main>
        <footer>
            <p>In the twilight of one's life Copyright © 2 August 2009 | <a href="#">XHTML</a> | <a href="#">CSS</a></p>
        </footer>
    </div>
</body>
</html>