<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SoftUni</title>
    <link rel="stylesheet" href="styles/SoftUniWebsite.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <header>
        <a href="https://softuni.bg/">
            <img src="images/software-university-logo.png" alt="SoftUni">
        </a>
        <nav>
            <div class="searchBar">
                <p>0<i class="fa fa-bell"></i></p>
                <p class="withArrow">Users</p>
                <input type="text" name="Search" id="Search" placeholder="Search">
                <button><i class="fa fa-search"></i></button>
            </div>
            <ul>
                <li class="navMenu">
                    <a href="https://softuni.bg/">News</a>
                </li>
                <li class="navMenu withArrow dropDown">
                    <a href="https://softuni.bg/about">About the university</a>
                    <div class="dropDown-content">
                        <a href="https://softuni.bg/about">About</a>
                        <a href="https://softuni.bg/trainers">Teachers</a>
                        <a href="https://softuni.bg/university-partners">Partners</a>
                    </div>
                </li>
                <li class="navMenu withArrow dropDown">
                    <a href="https://softuni.bg/trainings/courses">Training courses</a>
                    <div class="dropDown-content">
                        <a href="https://softuni.bg/trainings/1271/web-fundamentals-html-css-november-2015">HTML5/CSS3</a>
                        <a href="https://softuni.bg/trainings/1295/javascript-basics-january-2016">JavaScript Basics</a>
                        <a href="https://softuni.bg/trainings/1310/advanced-javascript-february-2016">JavaScript Advanced</a>
                    </div>
                </li>
                <li class="navMenu">
                    <a href="https://softuni.bg/">For companies</a>
                </li>
                <li class="navMenu">
                    <a href="https://softuni.bg/forum">Forum</a>
                </li>
                <li class="navMenu">
                    <a href="https://softuni.bg/contacts">Contacts</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>News</h1>
        <article>
            <h3 class="title">level #0 stats on the 5th of july</h3>
            <p class="date">18/06/2014</p>
            <p class="publisher">Published by: Alexandra Svilarova</p>
            <img src="images/date.png" alt="date">
            <p class="info">The deadline for application is extended to the 3rd of July</p>
            <p class="tags"><span>Tags:</span> software-university home-page softuni apply deadline application admission July</p>
        </article>
        <article>
            <h3 class="title">summer break + schedule for level #1</h3>
            <p class="date">13/06/2014</p>
            <p class="publisher">Published by: Alexandra Svilarova</p>
            <img src="images/summerBreak.png" alt="Summer Break">
            <p class="info">Summer break 2-10 august</p>
            <p class="tags"><span>Тагове:</span>software-university home-page softuni schedule summer-vacation exams</p>
        </article>
        <article>
            <h3 class="title">feedback from softuni conf may 2014</h3>
            <p class="date">02/06/2014</p>
            <p class="publisher">Published by: Petya Grozdarska</p>
            <img src="images/SoftUniConf.png" alt="SoftUni Conf">
            <p class="info">Responses from the questionnaire about the usefulness of the first SoftUni Conf</p>
            <p class="tags"><span>Тагове:</span> software-university home-page softuni softuni-conf conference feedback</p>
        </article>
        <ul class="navPage">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">></a></li>
        </ul>
    </section>
    <footer>
        <section>
            <button>Apply Now</button>
            <button>Fast track courses</button>
        </section>
        <section>
            <h4>About the university</h4>
            <ul>
                <li>About</li>
                <li>Professions</li>
                <li>Plans</li>
                <li>Partner universities</li>
                <li>Trainers</li>
                <li>Dorms</li>
                <li>Apply</li>
            </ul>
        </section>
        <section>
            <h4>Нашите приятели</h4>
            <ul>
                <li>Svetlin Nakov Blog</li>
                <li>C# book</li>
            </ul>
        </section>
        <section>
            <h4>Software University learning system - 1.0.5287</h4>
            <ul>
                <li>© 2013-2014 - Software University. All rights Reserved.</li>
                <li>
                    <div class="icons">
                        <img src="images/twiterImg.jpg" alt="twitter">
                    </div>
                    <div class="icons">
                        <img src="images/facebookImg.jpg" alt="facebook">
                    </div>
                    <div class="icons">
                        <img src="images/google+Img.jpg" alt="google+">
                    </div>
                </li>
            </ul>
        </section>
        <section>
            <div class="fb-page" data-href="https://www.facebook.com/SoftwareUniversity" data-width="255" data-height="230" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/SoftwareUniversity" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/SoftwareUniversity">Software University</a>
                </blockquote>
            </div>
        </section>
    </footer>
</body>
</html>